#start {
  padding-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  max-width: 450px;
  margin: auto;
}

#start h1 {
  font-family: var(--font);
  font-size: 70px;
  margin: 0;
}

#start p {
  font-family: var(--font);
  font-size: 18px;
  text-align: center;
}

#start #connect-code {
  font-size: 40px;
  text-align: center;
  width: 50%;
  background: none;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
}

#start #connect-button {
  width: 50%;
  font-size: 40px;
  background: none;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
}

#start #connect-button:active {
  background: rgb(220, 220, 220);
}