body {
  margin: 0;
}

main {
  max-width: 450px;
  margin: auto;
}

main#editor {
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: none;
  display: none;
  /* display: grid; */
  height: 100vh;
  width: 100%;
  max-width: 500px;
  margin: auto;
  grid-template-rows: min-content 1fr min-content 40vh;
  grid-template-columns: 100%;
}

.text-viewer {
  align-self: center;
  justify-self: center;
  display: grid;
  align-items: baseline;
  justify-content: stretch;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(16, 6%);
  width: 90%;
}

@keyframes cursor-blink {

  0%,
  50% {
    border-color: rgb(0, 0, 0);
  }

  51%,
  100% {
    border-color: rgba(255, 0, 0, 0.0);
  }
}

.text-viewer .char {
  box-sizing: border-box;
  display: block;
  font-size: 30px;
  height: 100%;
  padding: 1px;
  text-align: center;
  font-family: var(--font);
  color: var(--text-colour)
}


.text-viewer .cursor {
  animation: cursor-blink 1s infinite ease;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
}

#toolbar {
  margin: 5px 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  justify-items: center;
  align-items: baseline;
}

.colour-option {
  box-sizing: border-box;
  background-color: var(--text-colour);
  border-radius: 5px;
  aspect-ratio: 1;
  width: 70%;
}

.colour-selected {
  border: 2px solid black;
  padding: 2px;
  background-clip: content-box;
}

.font-option {
  aspect-ratio: 1;
  font-size: 150%;
  font-family: var(--font);
}

#keyboard {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding-bottom: 60px;
}

#keyboard .row {
  width: 100%;
  flex-grow: 1;
  gap: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#keyboard .row>* {
  background: none;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
}

#keyboard .row>*:active {
  background: rgb(220, 220, 220);
}

#keyboard .key {
  width: calc(10% - 5px);
  height: 100%;
  font-size: 200%;
  font-family: var(--font);
}

#keyboard .special {
  width: calc(15% - 5px);
  height: 100%;
  font-size: 100%;
}

#keyboard .space {
  width: calc(50% - 5px);
  font-size: 100%;
}

#top-bar {
  display: grid;
  padding: 5px;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
}

#top-bar>* {
  padding: 5px;
  font-size: 20px;
  background: none;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
}

#top-bar>*:active {
  background: rgb(220, 220, 220);
}