@font-face {
  font-family: "Graffiti Youth";
  src: url("/fonts/GraffitiYouth-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Super Woobly";
  src: url("/fonts/SuperWoobly.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Redoura Serif";
  src: url("/fonts/Redoura Serif.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* 
:root {
  --text-outline: 0.02vw;
} */

.font-montserrat {
  font-family: "Montserrat";
}

.font-super-woobly {
  font-family: "Super Woobly";
}

.font-graffiti-youth {
  font-family: "Graffiti Youth";
}

.font-bebas-neue {
  font-family: "BebasNeue";
}

.font-redoura-serif {
  font-family: "Redoura Serif";
}

.colour-red {
  --text-colour: #FF0000;
  /* -webkit-text-stroke: var(--text-outline) #FF0000; */
}

.colour-blue {
  --text-colour: #0000FF;
  /* -webkit-text-stroke: var(--text-outline) #0000FF; */
}

.colour-green {
  --text-colour: #059A3C;
  /* -webkit-text-stroke: var(--text-outline) #059A3C; */
}

.colour-purple {
  --text-colour: #9A0568;
  /* -webkit-text-stroke: var(--text-outline) #9A0568; */
}

.colour-orange {
  --text-colour: #FF9E00;
  /* -webkit-text-stroke: var(--text-outline) #FF9E00; */
}

.colour-yellow {
  --text-colour: #FFEE06;
  /* -webkit-text-stroke: var(--text-outline) #FFEE06; */
}