:root {
  --text-outline: 1.5px;
  --grid-columns: 4;
  --grid-rows: 6;
}

body {
  margin: 0;
  padding: 20px;
  background-color: black;
  display: grid;
  grid-template-rows: min-content 1fr;
}

#post-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  height: min-content;
}

#link-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  height: min-content;
}

#link-info span {
  -webkit-text-stroke: var(--text-outline) var(--text-colour);
  color: transparent;
  font-family: "BebasNeue";
  font-size: 80px;
  background: repeating-linear-gradient(45deg,
      transparent,
      transparent 4px,
      var(--text-colour) 4px,
      var(--text-colour) 5px);
  background-clip: text;
}