:root {
  --text-outline: 1.5px;
  --content-font-size: 40px;
  --grid-columns: 3;
  --grid-rows: 6;
  --link-font-size: 80px;
  --link-font-size-large: 130px;
  --hatch-fill-gap: 4px;
  --hatch-fill-thickness: 1px;
  --jitter-displacement: 5px;
  --glitch-displacement: 0.3px;

  --border-colour-1: #FF0000;
  --border-colour-2: #0088ff;
  --border-colour-3: #287900;
  --border-colour-4: #5d00d6;
  --border-colour-5: #9f6200;
  --border-colour-6: #FFEE06;
}

body {
  margin: 0;
  padding: 20px;
  background-color: black;
  display: grid;
  grid-template-rows: min-content 1fr;
  justify-items: center;
  filter: brightness(160%);
}

#post-grid {
  display: grid;
  row-gap: 20px;
  column-gap: 10px;
  width: min-content;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  height: min-content;
  justify-items: stretch;
}

#post-grid>* {
  border-radius: 20px;
  padding: 10px;
}

#link-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;
  height: min-content;
}