.text-viewer {
  display: grid;
  align-items: baseline;
  justify-content: stretch;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(16, 1fr);
}

.text-viewer .char {
  box-sizing: border-box;
  display: block;
  font-size: var(--content-font-size);
  line-height: 70%;
  height: 100%;
  padding: 1px;
  text-align: center;
  font-family: var(--font);
  /* color: var(--text-colour) */
  -webkit-text-stroke: var(--text-outline) var(--text-colour);
  color: transparent;
}


.text-viewer .cursor {
  animation: cursor-blink 1s infinite ease;
  padding: 0px;
  border-width: var(--text-outline);
  border-style: solid;
  border-color: rgb(0, 0, 0);
}

@keyframes cursor-blink {

  0%,
  50% {
    border-color: var(--text-colour);
  }

  51%,
  100% {
    border-color: rgba(255, 0, 0, 0.0);
  }
}

#link-info .large {
  font-size: var(--link-font-size-large);
}

#link-info span {
  -webkit-text-stroke: var(--text-outline) var(--text-colour);
  color: transparent;
  font-family: "BebasNeue";
  font-size: var(--link-font-size);
  background: repeating-linear-gradient(45deg,
      transparent,
      transparent var(--hatch-fill-gap),
      var(--text-colour) var(--hatch-fill-gap),
      var(--text-colour) calc(var(--hatch-fill-gap) + var(--hatch-fill-thickness)));
  background-clip: text;
}

.text-viewer:nth-child(n),
.text-viewer:nth-child(3n) {
  border: var(--text-outline) solid var(--border-colour-1);
  rotate: -1deg;
  animation: flicker 0.15s linear infinite;
  transform: translate(calc(var(--jitter-displacement) * 3), calc(var(--jitter-displacement) * 2)) var(--current-glitch-displacement);
}

.text-viewer:nth-child(4n),
.text-viewer:nth-child(2n) {
  border: var(--text-outline) solid var(--border-colour-2);
  rotate: 2deg;
  transform: translate(calc(var(--jitter-displacement) * -2), calc(var(--jitter-displacement) * -1)) var(--current-glitch-displacement);
  animation: flicker 0.2s linear infinite;
}

.text-viewer:nth-child(5n) {
  border: var(--text-outline) solid var(--border-colour-3);
  rotate: -3deg;
  transform: translate(var(--jitter-displacement), calc(var(--jitter-displacement) * -2)) var(--current-glitch-displacement);
  animation: flicker 0.1s linear infinite;
}

.text-viewer:nth-child(5n) {
  border: var(--text-outline) solid var(--border-colour-6);
  rotate: -3deg;
  transform: translate(var(--jitter-displacement), calc(var(--jitter-displacement) * -2)) var(--current-glitch-displacement);
  animation: flicker 0.1s linear infinite;
}

@keyframes flicker {

  0%,
  19%,
  22%,
  62%,
  64% {
    --current-glitch-displacement: translate(0px)
  }

  70% {
    --current-glitch-displacement: translate(0, var(--glitch-displacement))
  }

  100% {
    --current-glitch-displacement: translate(var(--glitch-displacement))
  }

  20%,
  21%,
  63%,
  65%,
  69.9% {
    --current-glitch-displacement: translate(0px)
  }
}