.text-viewer {
  display: grid;
  align-items: baseline;
  justify-content: stretch;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(16, 1fr);
}

.text-viewer .char {
  box-sizing: border-box;
  display: block;
  font-size: 30px;
  line-height: 70%;
  height: 100%;
  padding: 1px;
  text-align: center;
  font-family: var(--font);
  /* color: var(--text-colour) */
  -webkit-text-stroke: var(--text-outline) var(--text-colour);
  color: transparent;
}


.text-viewer .cursor {
  animation: cursor-blink 1s infinite ease;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
}

@keyframes cursor-blink {

  0%,
  50% {
    border-color: var(--text-colour);
  }

  51%,
  100% {
    border-color: rgba(255, 0, 0, 0.0);
  }
}