:root {
  --text-outline: 0.03vw;
}

body {
  margin: 0;
}

.z-stack {
  display: grid;
}

#simulator>* {
  width: 100%;
}

#simulator>video {
  filter: brightness(70%);
}

.z-stack>* {
  grid-column: 1;
  grid-row: 1;
}

#projection>* {
  /* border: red 2px dashed; */
  filter: brightness(150%);
  filter: saturate(130%);
  text-shadow: 0 0 0.7vw #0000004a;
  font-family: "Graffiti Youth";
  overflow: hidden;
  text-wrap-mode: nowrap;
  color: transparent;
  -webkit-text-stroke: var(--text-outline) rgb(182, 255, 23);
  display: flex;
  /* align-items: flex-end; */
  align-items: center;
  /* opacity: 0.4; */
  animation: flicker 1s linear infinite;
}

@keyframes flicker {

  0%,
  19%,
  22%,
  62%,
  64%,
  70%,
  100% {
    opacity: 0.90;
    padding-left: 0.02vw;
  }

  20%,
  21%,
  63%,
  65%,
  69.9% {
    opacity: 0.85;
    padding-left: 0px;
  }
}

#projection>*:nth-child(1) {
  filter: brightness(250%) saturate(150%);
  animation-delay: 1s;
  font-size: 2vw;
  width: 70.5vw;
  height: 3vw;
  box-sizing: border-box;
  clip-path: polygon(100.01% 0.02%, 100% 100%, 0% 100%, -0.12% -0.81%, 12.89% 14.44%, 14.98% 78.89%, 17.58% 2.70%, 25.31% -0.18%) view-box;
  transform: translate(38vw, 27.3vw) perspective(50vw) rotateX(416.5deg) rotateY(54.5deg) rotateZ(-28.7deg);
  /* opacity: 0.6; */
}

#projection>*:nth-child(2) {
  animation-delay: 0.3s;
  font-size: 2vw;
  width: 65vw;
  height: 3vw;
  box-sizing: border-box;
  transform: translate(36vw, 28.8vw) perspective(50vw) rotateX(398deg) rotateY(54.5deg) rotateZ(-13.7deg);
}

#projection>*:nth-child(3) {
  animation-delay: 0.5s;
  font-size: 2vw;
  width: 65vw;
  height: 3vw;
  box-sizing: border-box;
  clip-path: polygon(99.78% 20.14%, 100% 100%, 0% 100%, 0.00% 23.33%) view-box;
  transform: translate(30vw, 29.3vw) perspective(57vw) rotateX(380deg) rotateY(54.5deg) rotateZ(-1.2deg);
}

#link-info {
  width: 12vw;
  font-family: "BebasNeue";
  font-size: 1.5vw;
  line-height: 1.2vw;
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 0.4vw;
  align-self: flex-end;
  padding-right: 3vw;
}

.flex-grow {
  flex-grow: 1;
}

.beam {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  padding-left: 0.1vw;
}

.double-line {
  display: block;
  line-height: 1vw;
  text-wrap-mode: wrap;
  font-size: 1.5vw;
}