body {
  margin: 0;
}

#container {
  width: 800px;

}

#front-canvas {
  /* border: red 1px solid; */
  position: absolute;
  transform: translate(250px, 232px) perspective(12cm) rotateX(352.5deg) rotateY(58.5deg) rotateZ(21.5deg);
  /* transform: translate(250px, 230px) perspective(12cm) rotateX(353deg) rotateY(58deg) rotateZ(21.5deg); */
  opacity: 0.6;
}

#video-loop {
  width: 100%;
}